
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  background-color: #f0f2f5;
  margin: 0;
}


.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box {
  margin: 40px;
  border: 1px solid #d0d0d0;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: auto;
  width: 420px;
  background: linear-gradient(to right, #b5d9d9, #f9fefe);
  transition: transform 0.3s ease;
}

.box:hover {
  transform: scale(1.02);
}


input,
button {
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  margin: 12px 0;
  border: 2px solid #80babd;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  outline: none;
  transition: all 0.3s ease;
}

input {
  width: 240px;
  color: #2f6d6f;
}


button {
  border-radius: 25px;
  cursor: pointer;
  background-color: #ffffff;
  color: #2f6d6f;
}

button:hover {
  background-color: #2f6d6f;
  color: #ffffff;
}


ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin-top: 20px;
}

li {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0;
  color: #2f6d6f;
}
