* {
  margin: 0px;
}
.container {
  width: 100%;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  padding: 10px;
}
header li {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
}
header a {
  text-decoration: none;
  color: white;
}
.row {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}
.box {
  width: 500px;
  padding: 30px;
}
.btn-signup {
  background-color: cadetblue;
  color: white;
  margin-top: 10px;
  padding: 7px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}
.summary {
  font-size: 20px;
  margin-top: 10px;
}

.image {
  border-radius: 50px;
}

.title {
  font-size: 30px;
}
.rows {
  display: flex;
  background: linear-gradient(135deg, rgb(107, 166, 168), rgb(216, 240, 241));
  justify-content: space-around;
  height: 400px;
  align-items: center;
  justify-content: center;
}
.boxes {
  background-color: rgb(107, 166, 168);
  color: white;
  width: 400px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 0 8px rgba(107, 166, 168, 0.2);
  align-items: center;
}
.b1{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
}
